{% extends "shop/product.html" %}
{% load shop_tags mezzanine_tags i18n %}
{% block characteristics %}
    {% include "shop/includes/characteristics.html" with panel_title='Характеристики' characteristics=characteristics.items%}
{% endblock %}

{% block suitable_prod %}
    {% if suitable_topka %}
    <h2>Подходящие топки</h2>
    {% include "pages/includes/product_list.html" with products=suitable_topka %}
    {% endif %}
    {% if suitable_hearth %}
    <h2>Подходящие очаги</h2>
    {% include "pages/includes/product_list.html" with products=suitable_hearth %}
    {% endif %}
{% endblock %}