{% extends "base.html" %}
{% load pages_tags %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-3 left">
        <div class="panel panel-default tree">
            <h5 style="padding-left: 10px">Категории</h5>
            {% page_menu "pages/menus/tree.html" %}
        </div>
    </div>
    <div class="col-xs-12 col-md-9 right">
        <div class="panel panel-default">
            <div class="panel-body">
                {% block main_2col %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}