{% extends "base.html" %}
{% load mezzanine_tags shop_tags pages_tags staticfiles i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block main %}
    <div class="row home">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            {% page_menu "pages/menus/first_col.html" %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% page_menu "pages/menus/carousel.html" %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            {% page_menu "pages/menus/second_col.html" %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            {% page_menu "pages/menus/third_col.html" %}
        </div>
    </div>
    <div class="row home">
        {% page_menu "pages/menus/home_extra.html" %}
    </div>
{% endblock %}
