{% extends "shop/checkout.html" %}
{% load staticfiles i18n future mezzanine_tags %}

{% block extra_head %}
{{ block.super }}
<script src="{% static "cartridge/js/shipping_fields.js" %}"></script>
{% endblock %}

{% block fields %}
{% if request.cart.has_items %}
{% if not request.user.is_authenticated %}
{% ifinstalled mezzanine.accounts %}
<p>
{% url "login" as login_url %}
{% url "signup" as signup_url %}
{% with request.path as next %}
{% blocktrans %}
Если у вас уже есть аккаунт или вы желаете его создать,
<a href="{{ login_url }}?next={{ next }}">войдите</a> или
<a href="{{ signup_url }}?next={{ next }}">зарегистрируйтесь</a>.
{% endblocktrans %}
{% endwith %}
</p>
{% endifinstalled %}
{% endif %}

{% errors_for form %}

<div class="row">
    <div class="col-lg-6">
        <fieldset>
            <legend>{% trans "Заказчик" %}</legend>
            {% fields_for form.billing_detail_fields %}
        </fieldset>
    </div>
    <div class="col-lg-6">
        <fieldset>
            <legend>{% trans "Адрес доставки" %}</legend>
            {% fields_for form.same_billing_shipping_field %}
            <div id="shipping_fields">{% fields_for form.shipping_detail_fields %}</div>
            {% fields_for form.additional_instructions_field %}
            {% fields_for form.remember_field %}
        </fieldset>
    </div>
</div>


{% if not settings.SHOP_CHECKOUT_STEPS_SPLIT and settings.SHOP_PAYMENT_STEP_ENABLED %}
{% include "shop/includes/payment_fields.html" %}
{% endif %}

{% fields_for form.other_fields %}

{% endif %}
{% endblock %}
