{% load i18n mezzanine_tags pages_tags %}

<div class="modal-dialog">
    <div class="modal-content">
        {% errors_for form %}
        <form method="post" data-async {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% block action %}{% endblock %}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    {% fields_for form %}
                </fieldset>
                {% block main %}{% endblock %}
            </div>
            <div class="modal-footer">
                <div class="form-actions">
                    {% block account_form_actions %}
                        <input id="account-form" class="btn btn-primary" type="submit"  value="{{ title }}">
                    {% endblock %}
                </div>
            </div>
        </form>
    </div>
</div>
