.navbar-nav.nav-justified {
    display:table;
}

.navbar-nav.nav-justified > li {
    float:none;
    width:auto;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 130px;
  background-image: url('/static/img/bg_lighter.png');
}

footer {
  background-image: url('/static/img/bg_footer.png');
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
   /*Set the fixed height of the footer here*/
  height: 130px;
}



.breadcrumb {
  padding:0 15px 0 0;
  margin-bottom: 0;
  list-style: none;
  background: transparent;
}


.navbar-collapse {
    padding: 0;
}

.logo img {
    border: solid 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
