{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
    {% for page in page_branch %}
        {% if page.in_menu %}
            <li class="{% if page.is_current_or_ascendant %}active{% endif %}"
        {#            {% if page.has_children_in_menu %}dropdown{% endif %}#}
            id="{{ page.html_id }}">
            <a href="{{ page.get_absolute_url }}"
            {% if page.has_children_in_menu %}
            class="dropdown-toggle disabled" data-toggle="dropdown"
            {% endif %}>
                {{ page.title }}
            </a>
{#            TODO: butiful dropdown#}
{#            <ul class="dropdown-menu">#}
{#                {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}#}
{#            </ul>#}
        </li>
        {% endif %}
    {% endfor %}
{% elif branch_level < 2 %}

    {% for page in page_branch %}
        {% if page.in_menu %}
            <li id="{{ page.html_id }}">
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            </li>
        {% endif %}
    {% endfor %}

{% endif %}

{% endif %}
{% endspaceless %}