{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}

{% for page in page_branch %}
    {% if page.is_primary %}
        {% if forloop.first %}
            <div class="nav-footer">
        {% endif %}
        {% if page.in_menu %}
            <ul class="list-unstyled">
        {% endif %}
    {% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            <ul class="list-unstyled">
        {% endif %}
        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}
            id="footer-menu-{{ page.html_id }}">
            <a href="{{ page.get_absolute_url }}">
                {% if page.is_primary %}<strong>{% endif %}
                {{ page.title }}
                {% if page.is_primary %}</strong>{% endif %}
            </a>
        </li>
    {% endif %}

    {% if page.in_menu and page.is_primary and page.has_children_in_menu  %}{% page_menu page %}{% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            </li></ul>
        {% endif %}
    {% endif %}

    {% if page.is_primary %}
        {% if page.in_menu %}
            </ul>
        {% endif %}
        {% if forloop.last %}
            <ul class="list-unstyled">
                <li>
                    <!-- Yandex.Metrika informer -->
                    <a class="center-block" href="https://metrika.yandex.ru/stat/?id=25193285&amp;from=informer"
                    target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/25193285/3_0_FFFFFFFF_FFFFFFFF_0_pageviews"
                    style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25193285,lang:'ru'});return false}catch(e){}"/></a>
                    <!-- /Yandex.Metrika informer -->
                </li>
            </ul>
            </div>
        {% endif %}
    {% endif %}

{% endfor %}

{% endif %}
{% endspaceless %}
