{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="list-inline">
  {% for page in page_branch %}
      {% if page.in_menu %}
          {% if not page.has_children_in_menu %}
              <li id="tree-menu-{{ page.html_id }}">
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
              </li>
          {% else %}
              {% page_menu page %}
          {% endif %}
      {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
