{% load i18n future pages_tags mezzanine_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
  {% for page in page_branch %}
      {% if page.in_menu %}
           <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <a href="{{ page.get_absolute_url }}" class="thumbnail">
                    <div class="caption">
                        <h4>{{ page.title }}</h4>
                    </div>
                    {% if page.category.featured_image %}
                    <div class="wrapper">
                        <img class="center-block" src="{{ MEDIA_URL }}{{ page.category.featured_image }}"/>
                    </div>
                    {% else %}
                    <div class="placeholder"></div>
                    {% endif %}
                </a>
           </div>
      {% endif %}
      {% if page.has_children_in_menu %}
          {% page_menu page %}
      {% endif %}
  {% endfor %}
{% endif %}
{% endspaceless %}
