{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags shop_tags i18n %}

{% block breadcrumb_menu %}{% endblock %}

{% block main %}{{ block.super }}

<!-- CONTENT -->
<section>
    <div class="container">

        <!-- options -->
        <div class="row shop-top-options">

            <div class="col-sm-9 col-md-9">

                <h2>{{ page.title }}</h2>

                <ul class="breadcrumb"><!-- breadcrumb -->
                    {% spaceless %}
                    {% page_menu "pages/menus/breadcrumb.html" %}
                    {% endspaceless %}
                </ul><!-- /breadcrumb -->

            </div>

            <div class=" col-sm-3 col-md-3">
                <form class="product-sorting" role="form">
                    <div class="form-group">
                        <select onchange="location.href = this[this.selectedIndex].value;"
                                class="form-control pointer fsize13 pull-right"
                                name="orderby" id="sorting-select">
                        {% for name, option in settings.SHOP_PRODUCT_SORT_OPTIONS %}
                        {% if "rating" not in option or settings.SHOP_USE_RATINGS %}
                        <option{% if option == products.sort_by %} selected{% endif %}
                            value="{{ category.get_absolute_url }}?sort={{ option }}{{ querystring }}">
                            {{ name }}
                        </option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <!-- /options -->

        <div class="row">

            <div class="col-md-3 hidden-sm">

                <!-- SIDE NAV -->
                    {% page_menu "pages/menus/tree.html" %}
                <!-- /SIDE NAV -->

            </div>

            <div class="col-md-9">

                {% if products.paginator.count != 0 %}

                <!-- PRODUCT LIST -->
                <div class="row">
                    {% include "pages/includes/product_list.html" with products=products.object_list  %}
                </div>
                <!-- /PRODUCT LIST -->

                <!-- PAGINATION -->
                {% pagination_for products %}
                <!-- /PAGINATION -->

                {% endif %}

            </div>

        </div>

    </div>
</section>
<!-- /CONTENT -->

{% endblock %}
