{% extends "base.html" %}
{% load mezzanine_tags shop_tags pages_tags keyword_tags staticfiles i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block content %}
    <div class="row home">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            {% with left_top as category %}
            {% include "includes/popular_category.html" %}
            {% endwith %}
            {% with left_bottom as category %}
            {% include "includes/popular_category.html" %}
            {% endwith %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% with slides_category as category %}
            {% include "includes/homepage_slides.html" %}
            {% endwith %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            {% with middle_top as category %}
            {% include "includes/popular_category.html" %}
            {% endwith %}
            {% with middle_bottom as category %}
            {% include "includes/popular_category.html" %}
            {% endwith %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            {% with right_top as category %}
            {% include "includes/popular_category.html" %}
            {% endwith %}
            {% with right_bottom as category %}
            {% include "includes/popular_category.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="row home">
        {% include "includes/extra_links.html" %}
    </div>
{% endblock %}
