{% extends "base.html" %}
{% load mezzanine_tags shop_tags pages_tags keyword_tags staticfiles i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block content %}
    <div class="row home">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            {% page_menu "pages/menus/first_col.html" %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% page_menu "pages/menus/carousel.html" %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            {% page_menu "pages/menus/second_col.html" %}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            {% page_menu "pages/menus/third_col.html" %}
        </div>
    </div>
    <div class="row home">
        {% page_menu "pages/menus/home_extra.html" %}
    </div>
{% endblock %}


<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">
<h3>Магазин-салон на Большой Серпуховской</h3>
</div>
<div class="panel-body">
<address>
<strong>Адрес</strong><br>
город Подольск<br>
улица Большая Серпуховская дом 30<br>
<abbr title="Телефон">Тел:</abbr> +7 (499) 390-21-86
</address>
<address>
<strong>Электронная почта</strong><br>
<a href="mailto:#">help@azbuka-kamnya.ru</a>
</address>
<address>
<strong>Магазин на карте</strong><br>
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=9D-wHs6C4hHraJYU41rURFEfNIvkeUt6&amp;width=auto&amp;height=320"></script>
</address>
</div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">
<h3>Магазин на Кирова</h3>
</div>
<div class="panel-body">
<address>
<strong>Адрес</strong><br>
город Подольск<br>
улица Кирова дом 76 корпус 2<br>
<abbr title="Телефон">Тел:</abbr> +7 (4967) 64-05-69
</address>
<address>
<strong>Электронная почта</strong><br>
<a href="mailto:#">help@azbuka-kamnya.ru</a>
</address>
<address>
<strong>Магазин на карте</strong><br>
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=4o79l2K_sCnHBAOMc5K-ut_Z7eEm7Noo&amp;width=auto&amp;height=320"></script>
</address>
</div>
</div>
</div>
</div>