<div class="modal fade" id="book_call_Modal" tabindex="-1" role="dialog" aria-labelledby="book_call_ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="book_call_Modal">Заказ звонка</h4>
            </div>

            <div class="modal-body">
                ...
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Позвоните мне!</button>
            </div>
        </div>
    </div>
</div>