{% load mezzanine_tags %}

{% editable_loader %}

<script>
{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}
</script>

{#  Auto closing alerts #}

<script type="text/javascript">
    $(document).ready(function () {

        window.setTimeout(function() {
            $(".alert").fadeTo(1500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 700);

    });
</script>

{#  Makes modal reload    #}

<script>
    $('#myModal').on('hidden.bs.modal', function () {
      $(this).removeData('bs.modal');
    });
</script>

{#  Nav Affix helper    #}

<script>
    $(function() {
        $('#nav-wrapper').height($("#nav").height());

        $('#nav').affix({
            offset: { top: $('#nav').offset().top }
        });
    });
</script>

{#  Fixed width of affixed element    #}

<script>
$('#nav').each(function () {
    var elem = $(this);
    var parentPanel = $('#nav-wrapper');
    var resizeFn = function () {
    var sideBarNavWidth = $(parentPanel).width();
    elem.width(sideBarNavWidth);
    };
    resizeFn();
    $(window).resize(resizeFn);
});
</script>

{#  Cart panel affix helper    #}

<script>
    $(function() {
{#        $('#cart-wrapper').height($("#cart").height());#}

        $('#cart').affix({
            offset: { bottom: $('#cart').offset().bottom }
        });
    });
</script>